.BurgerControls {
  width: 100%;
  margin: 0 auto;
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.OrderNow {
  padding: 10px;
  text-align: center;
  background-color: #8f5e1e;
  color: white;
}

.OrderNow[disabled] {
  background-color: grey;
  color: #ccc;
  cursor: no-drop;
}
