.Modal {
  width: 70%;
  position: fixed;
  background-color: white;
  color: black;
  border: 1px solid black;
  margin: auto;
  box-shadow: 2px 2px 2px #ccc;
  margin-bottom: 10px;
  transition: all 0.3s;
  padding: 5px;
  left: 15%;
  top: 30%;
}
