.NavigationItems {
  display: flex;
  list-style: none;
  flex-direction: column;
}

@media (max-width: 500px) {
  .NavigationItems {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
